<ion-view title="Building Events" hide-nav-bar="true" hide-back-button="true" id="page3">

  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-trophy"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header eoko-content" style="background: url(img/main_background.png) no-repeat center;background-size:cover;">
    <button id="buildingEvents-button7" ng-click="search()" class="button button-positive  button-block">Tap me!</button>
  </ion-content>

</ion-view>
