<ion-view title="Building Events" hide-nav-bar="true" hide-back-button="true" id="page3">

  <ion-content padding="true" class="has-header eoko-content"
               style="background: url(img/main_background.png) no-repeat center;background-size:cover;">

    <div class="button-bar">

      <button id="BuildingEventButton" class="button button-light button-block button-clear eoko-text-button-nav"
              ng-click="selectBuildingEventTab()">Event
      </button>

      <button id="FeedBackButton" class="button button-light button-block button-clear eoko-text-button-nav"
              ng-click="selectFeedbackTab()">Feedback
      </button>

      <button id="RankingButton" class="button button-light button-block button-clear eoko-text-button-nav"
              ng-click="selectRankingTab()">Ranking
      </button>

    </div>

  </ion-content>

</ion-view>
