<ion-view title="Building Events" hide-nav-bar="true" hide-back-button="true" id="page3">

  <ion-content padding="true" class="has-header eoko-content"
               style="background: url(img/main_background.png) no-repeat center;background-size:cover;">

    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>

    <div class="button-bar">

      <button id="BuildingEventButton" class="button button-light button-block button-clear eoko-text-button-nav"
              ng-click="selectBuildingEventTab()">Event
      </button>

      <button id="FeedBackButton" class="button button-light button-block button-clear eoko-text-button-nav"
              ng-click="selectFeedbackTab()">Feedback
      </button>

      <button id="RankingButton" class="button button-light button-block button-clear eoko-text-button-nav"
              ng-click="selectRankingTab()">Ranking
      </button>

    </div>


    <ion-scroll ng-if="selection.tab == 'bevents' " style="height: calc(100% - 10em);" scrollbar-x="false" scrollbar-y="false">
    events tab
    </ion-scroll>


     <ion-scroll ng-if="selection.tab == 'feedback' " style="height: calc(100% - 10em);" scrollbar-x="false" scrollbar-y="false">
     feed back
    </ion-scroll>



     <ion-scroll ng-if="selection.tab == 'ranking' " style="height: calc(100% - 10em);" scrollbar-x="false" scrollbar-y="false">
     ranking
    </ion-scroll>




  </ion-content>

</ion-view>
