<ion-view title="Chat Tab" hide-nav-bar="true" hide-back-button="true">
  <ion-content padding="false" style="background: url(img/main_background.png) no-repeat center;background-size:cover;" scroll="false">
    
   <!--  <div class="button-bar"> -->
  		<a ui-sref="tabsController.connect" class="button-clear ion-chevron-left"></a>

  		<!-- <form class="list">
      <div>
        <label class="item item-input" style="border: 1px solid white; border-radius: 20px;    padding: 1px 15px;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search by name" ng-model="search.text" ng-model-options="{ debounce: 0618 }" ng-change="searchName()">
        </label>
      </div>
    </form> -->

  	<!-- </div> -->

  	<button ng-click="newConversation()"></button>

    
  	<ion-scroll style="height: calc(100% - 11em)">
      <ion-list id="actionList">
        <div ng-if="notifications.length == 0" class="eoko-text-button-nav" style="text-align:center;">No Messages to Display</div>

        <ion-item ng-repeat="notify in notifications" class="item-thumbnail-left"
                  style="background-color:rgba(0,0,0,0);border-top:1px solid white;border-bottom:1px solid white;">

          <div class="n_avatarImg" style="background-image: url({{notify.info.avatar}});"></div>
          <p class="eoko-text-light" style="color: white;font-size: 25px">{{notify.info.title}}</p>
          <p class="eoko-text-ultralight" style="color: white;display: inline; font-size: 15px;">
            {{notify.info.location}}
            <br>{{notify.info.date}}
            <br>{{notify.info.time}}
          </p>
          <button ng-click="openPopover($event, notify)" class="eoko-button-event-join eoko-text-light">
            {{notify.attend}}
          </button>

        </ion-item>
      </ion-list>
    </ion-scroll>


  </ion-content>
</ion-view>