<ion-view title="Connect" hide-nav-bar="true" hide-back-button="true" id="page5">

  <ion-content padding="true" class="has-header eoko-content" style="background: url(img/main_background.png) no-repeat center;background-size:cover;">

    <!--spacer-->
    <div class="spacer" style="height: 60px;"></div>


  	<ion-list >
	  	<ion-item class="row" ng-repeat="rows in userList">
	  		<ion-item ng-repeat="user in rows" ng-if="user.avatar != owning.avatar" ng-click="openProfile(user)" style="background-image: url({{user.avatar}});" class="span4 connectImg">
	  	  	</ion-item>
	  	</ion-item>
    </ion-list>

  </ion-content>
</ion-view>
