<ion-view title="Events" hide-nav-bar="true" hide-back-button="true" id="page6">

  <ion-content padding="false"
               style="background: url(img/main_background.png) no-repeat center;background-size:cover;filter: blur({{blurry.behind}});"
               class="manual-ios-statusbar-padding eoko-content" scroll="false">


    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>


    <!--top nav bar-->
    <div class="button-bar">
      <a id="EventButton" class="eoko-button-text-selected eoko-text-button-nav"
         ng-click="selectEventTab()">Actions
      </a>
      <a id="CreateEventButton" class="eoko-button-text eoko-text-button-nav"
         ng-click="selectCreateTab()">Create
      </a>
    </div>


    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>

    <!--list of actions-->
    <ion-scroll ng-if="selection.tab == 'event' " style="height: calc(100% - 10em);" scrollbar-x="false"
                scrollbar-y="false">
      <ion-list id="actionList">
        <div ng-if="notifications.length == 0" class="eoko-text-button-nav" style="text-align:center;">No Actions to
          display
        </div>

        <ion-item ng-repeat="notify in notifications" class="item-thumbnail-left"
                  style="background-color:rgba(0,0,0,0);border-top:1px solid white;border-bottom:1px solid white;">

          <div class="eoko-notification-avatar" style="background-image: url({{notify.info.avatar}});"></div>
          <h2 class="eoko-text-thin" style="color: white;font-size: 25px">{{notify.info.title}}</h2>
          <p class="eoko-text-ultralight" style="color: white;display: inline; font-size: 15px;">
            {{notify.info.location}}
            <br>{{notify.info.date}}
            <br>{{notify.info.time}}
          </p>
          <button ng-click="openPopover($event, notify)" class="eoko-button-action-event-join eoko-text-thin">
            {{notify.attend}}
          </button>

        </ion-item>
      </ion-list>
    </ion-scroll>


    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>

    <!--create your action-->

    <!--Public and Private button-->
    <ion-scroll ng-if="selection.tab == 'create' && selection.privstep == 1" style="height: calc(100% - 11.5em);"
                scrollbar-x="false" scrollbar-y="false">

      <div class="button-bar">
        <button id="PublicButton" ng-click="selectedPublic()"
                style="font-size: 25px; border-radius: 50px; margin: 0 22px;padding: 0px;"
                class="button button-energized button-block eoko-text-thin">Public
        </button>
        <button id="PrivateButton" ng-click="selectedPrivate()"
                style="font-size: 25px; border-radius: 50px;margin: 0 22px;padding: 0px;"
                class="button button-energized button-block button-outline eoko-text-thin">Private
        </button>
      </div>

      <!--spacer-->
      <div class="spacer" style="height: 20px;"></div>

      <form name="makeEventForm">

        <ion-list>

          <!--Action Catagory-->
          <label class="item item-input " name="eventCatagory">
            <input id="ed_labelCatagory" type="text" placeholder="Catagory" style="font-size: 1.6em"
                   class="eoko-input eoko-text-thin" ng-model="event.catagory"
                   required="">
          </label>

          <!--Action title-->
          <label class="item item-input" name="eventTitle">
            <input id="ed_labelTitle" type="text" placeholder="Action Name" style="font-size: 1.6em;"
                   class="eoko-input eoko-text-thin" ng-model="event.title"
                   required="">
          </label>

          <!--Action Location-->
          <label class="item item-input" name="eventLocation">
            <input id="ed_labelLocation" type="text" placeholder="Location" style="font-size: 1.6em"
                   class="eoko-input eoko-text-thin"
                   ng-model="event.location" required="">
          </label>

          <!--Action Date/Time-->
          <label class="item item-input" name="eventDateTime">
            <input id="ed_labelD" type="date" placeholder="Date" style="font-size: 1.1em;"
                   class="eoko-input eoko-text-thin" ng-model="event.date" required="">
            <input id="ed_labelT" type="time" placeholder="Time" style="font-size: 1.1em;"
                   class="eoko-input eoko-text-thin" ng-model="event.time" required="">
          </label>

        </ion-list>


        <!--spacer-->
        <div class="spacer" style="height: 20px;"></div>

        <!--Action Desciption-->
        <textarea placeholder="What is your event about? Make it short"
                  class="eoko-text-area"
                  name="descBox" ng-model="event.description" required=""></textarea>


        <br>

        <button ng-if="selection.porb == 'public'" type="submit" ng-disabled="makeEventForm.$invalid"
                ng-click="createEvent(makeEventForm)" style="float:right;border-radius:20px;margin-right:5px;"
                class="button button-energized">Done
        </button>

        <button ng-if="selection.porb == 'private'" type="submit" ng-disabled="makeEventForm.$invalid"
                ng-click="PrivateNextStep()" style="float:right;border-radius:20px;margin-right:5px;"
                class="button button-energized">Invite Friends
        </button>
      </form>

    </ion-scroll>


    <div ng-if="selection.tab == 'create' && selection.privstep == 2">
      <a ui-sref="tabsController.events" class="button button-light  button-clear icon ion-ios-arrow-left"></a>
      <ion-list>
        <ion-item class="row" ng-repeat="rows in userList">
          <ion-item ng-repeat="user in rows" ng-if="user.avatar != owning.avatar" ng-click="selectUser(user)"
                    style="background-image: url({{user.avatar}});" class="span4 connectImg"
                    ng-class="privateRoll.hasOwnProperty(user.$id) ? 'userSelected' : 'userDeselected'">
          </ion-item>
        </ion-item>
      </ion-list>
      <button ng-if="selection.porb == 'private'" ng-click="createEvent(makeEventForm)"
              style="float:right;border-radius:20px;margin-right:5px;" class="button button-energized">Done
      </button>
    </div>


    <!--action detail pop up-->
    <script id="eventFullView.html" type="text/ng-template">

      <div ng-click="checkHit($event)" class="popup-container popup-showing active" ng-class="cssClass">

        <div class="eoko-action-popup">
          <div class="item-body" style="text-align: center">

            <!--action avatar-->
            <div class="eoko-action-avatar"
                 style="background-image: url({{modalOpen.info.avatar}}); margin-bottom: 0">
            </div>


            <div>
              <!--action title-->
              <h2 class="eoko-text-action-popup-title eoko-text-medium" style="margin-bottom: 0%">
                {{modalOpen.info.title}}</h2>

              <!--action hosted by-->
              <div>
                <h4 class="eoko-text-action-popup-title2 eoko-text-thin" style="margin-bottom: 0">Hosted by</h4>
                <a ng-click="openProfile(user)" class="eoko-button-clear eoko-text-action-popup-title eoko-text-regular"
                   style="margin-bottom: 0">Bao Pham{{modalOpen.info.name}}</a>
              </div>

              <!--action location-->
              <div>
                <a class="eoko-icon-location"></a>
                <h4 class="eoko-text-action-popup-title eoko-text-thin" style="margin-bottom: 0">
                  {{modalOpen.info.location}}
                </h4>

              </div>

              <!--action date/time-->
              <div>
                <a class="eoko-icon-date-time"></a>
                <a class="eoko-text-action-popup-title2 eoko-text-thin" style="margin-bottom: 0; font-size: 18px">
                  {{modalOpen.info.date}}
                </a>
                <a class="eoko-text-action-popup-title2 eoko-text-thin" style="margin-bottom: 15px;">
                  @ {{modalOpen.info.time}}
                </a>
              </div>

              <!--action descriptions-->
              <ion-scroll class="eoko-text-thin" style="min-height: 0; max-height: 100px; font-size: 20px;"
                          scrollbar-x="false" scrollbar-y="false">
                {{modalOpen.info.description}}
              </ion-scroll>
            </div>


            <!--type of lists button-->
            <div>
              <a class="eoko-button-action-event-list eoko-text-thin">
                12 <br/> Going
              </a>
              <a class="eoko-button-action-event-list eoko-text-thin">
                12 <br/> Maybe
              </a>
              <a class="eoko-button-action-event-list eoko-text-thin" style="padding-right: 0;
  padding-left: 0; font-size: 19px;">
                12 <br/> Declined
              </a>
              <a class="eoko-button-action-event-list eoko-text-thin">
                12 <br/> Invited
              </a>
            </div>

            <!--Join button-->
            <button ng-click="joinEvent(modalOpen)" class="eoko-button-action-event-popup-join">
              {{modalOpen.attend}}
            </button>


            <!--list of people are going-->
            <ul ng-model="goingList" class="family-icon-scroller" style="margin-top: 0px">

              <div ng-if="goingList.length == 0" style="color:white;">Nobody confirmed Yet!</div>

              <li class="systemContainer" ng-repeat="going in goingList">
                <div class="eventViewAvatar" style="background-image: url({{going.info.avatar}});">
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </script>


  </ion-content>
</ion-view>
