<ion-view title="Events" hide-nav-bar="true" hide-back-button="true" id="page6">

  <ion-content padding="false" style="background: url(img/main_background.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding eoko-content" scroll="false">

    <div class="button-bar">
      <button id="EventButton" class="button button-light  button-block button-clear eoko-text-button-nav" ng-click="selectEventTab()">Actions</button>

      <button id="CreateEventButton" class="button button-light  button-block button-clear eoko-text-button-nav" ng-click="selectCreateTab()">Create</button>
    </div>

    <!--spacer-->
    <div class="spacer" style="height: 35px;"></div>


    <ion-list ng-if="selection.tab == 'event' " id="actionList">
      <ion-item ng-repeat="notify in notifications" class="item-thumbnail-left" style="background-color:rgba(0,0,0,0);border-top:1px solid white;border-bottom:1px solid white;">
        <div class="n_avatarImg" style="background-image: url({{notify.info.avatar}});"></div>
        <h2 style="color:white;">{{notify.info.title}}</h2>
        <p style="color:white;">{{notify.info.location}}
          <br>{{notify.info.date}}
          <br>{{notify.info.time}}</p>
      </ion-item>
    </ion-list>

    <div ng-if="selection.tab == 'create'">
	    <div class="button-bar" ng-if="selection.porb == 'public'">
			  <button ng-click="selectedPublic()" style="border-radius: 33px;margin: 0 22px;padding: 0px;" class="button button-energized button-block">Public</button>
			  <button ng-click="selectedPrivate()" style="border-radius: 33px;margin: 0 22px;padding: 0px;" class="button button-energized button-block button-outline">Private</button>
		  </div>

      <div class="button-bar" ng-if="selection.porb == 'private'">
			  <button ng-click="selectedPublic()" style="border-radius: 33px;margin: 0 22px;padding: 0px;" class="button button-energized button-block button-outline">Public</button>
			  <button ng-click="selectedPrivate()" style="border-radius: 33px;margin: 0 22px;padding: 0px;" class="button button-energized button-block">Private</button>
		</div>


		<form name="makeEventForm">

      <ion-list>
			<label class="item item-input login-label" style="background-color: rgba(0,0,0,0);margin: 0 20px;border-bottom: 0px;" name="eventTitle">
        <span class="input-label lable-font-login" aria-label="Title" id="ed_labelTitle" style="width: 20%;">Title</span>
        <input type="text" placeholder="" style="border-bottom: 1px solid white;" ng-model="event.title" required="">
      </label>

      <label class="item item-input login-label" style="background-color: rgba(0,0,0,0);margin: 0 10px;border-bottom: 0px;" name="eventLocation">
        <span class="input-label lable-font-login" aria-label="Location" id="ed_labelLocation" style="width: 20%;">Location</span>
        <input type="text" placeholder="e.g. Room #, Address, Name of Place" style="border-bottom: 1px solid white;" ng-model="event.location" required="">
      </label>


      <label class="item item-input login-label" style="background-color: rgba(0,0,0,0);width: 61%;margin: 0 auto;border-bottom: 0px;" name="eventDate">
        <span class="input-label lable-font-login" aria-label="Date" id="ed_labelD" style="text-align: center;">Date</span>
        <input type="date" placeholder="Date" style="border-bottom: 1px solid white;text-align: center;" ng-model="event.date" required="">
      </label>

      <label class="item item-input login-label" style="background-color: rgba(0,0,0,0);width: 61%;margin: 0 auto;border-bottom: 0px;" name="eventTime">
        <span class="input-label lable-font-login" aria-label="Time" id="ed_labelT" style="text-align: center;">Time</span>
        <input type="time" placeholder="Time" style="border-bottom: 1px solid white;text-align: center;" ng-model="event.time" required="">
      </label>
      </ion-list>

      <h4 style="text-align:center;color:white;">Description</h4>

      <textarea style="margin:0 auto;height:8em;" placeholder="Short yet descriptive is best!" class="descriptionBox" name="descBox" ng-model="event.description" required=""></textarea>

      <br>

      <button ng-if="selection.porb == 'public'" type="submit" ng-disabled="makeEventForm.$invalid" ng-click="createEvent(makeEventForm)" style="float:right;border-radius:20px;margin-right:5px;" class="button button-energized">Make Public Event</button>

      <button ng-if="selection.porb == 'private'" type="submit" ng-disabled="makeEventForm.$invalid" ng-click="createEvent(makeEventForm)" style="float:right;border-radius:20px;margin-right:5px;" class="button button-energized">Make Private Event</button>
		</form>

	</div>

  </ion-content>
</ion-view>
