<ion-view title="GetNamePage" hide-nav-bar="true" id="page11">
  <ion-content padding="true" style="background: url(img/main_background.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" has-bouncing="false" scroll="false">

    <a ui-sref="home" class="eoko-button-clear ion-chevron-left"></a>

    <div class="spacer" style="height: 25px;"></div>

    <h3 class="eoko-text-login-header">
      What is Your Name?
    </h3>

    <label class="item-input login-label item-floating-label eoko-text-input-form">
      <span class="input-label lable-font-login eoko-text-input-form">First Name</span>
      <input style="border: none; font-size: 25px" type="text" placeholder="First Name" ng-model="user.firstname">
    </label>

    <label class="item-input login-label item-floating-label eoko-text-input-form">
      <span class="input-label lable-font-login eoko-text-input-form">Last Name</span>
      <input style="border: none; font-size: 25px" type="text" placeholder="Last Name" ng-model="user.lastname">
    </label>

    <label class="item-input login-label item-floating-label eoko-text-input-form">
      <span class="input-label lable-font-login eoko-text-input-form">Email</span>
      <input style="border: none; font-size: 25px" type="text" placeholder="Email" ng-model="user.email">
    </label>

    <label class="item-input login-label item-floating-label eoko-text-input-form">
      <span class="input-label lable-font-login eoko-text-input-form">Password</span>
      <input style="border: none; font-size: 25px" type="password" placeholder="Password" ng-model="user.password">
    </label>

    <a ng-click="passInfo()" class="eoko-button-clear" style="font-size: 25px; font-style: italic; float:right;">Next</a>

  </ion-content>
</ion-view>
