<ion-view title="getPicturePage" hide-nav-bar="true" id="page13">
  <ion-content padding="true" style="background: url(img/5eOY4mPRxiewcxFsYGTp_Asset202404x.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <a ui-sref="getCodePage" class="button button-light  button-clear icon ion-ios-arrow-left"></a>
    <a ui-sref="getDescriptionPage" class="button button-light  button-clear icon " style="float:right;">Skip...</a>
    <div class="spacer" style="width: 300px; height: 17.9896px;"></div>
    <div id="getPicturePage-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:20px;">People like to see faces!</p>

      <p style="color:#FFFFFF;font-size:20px;">Upload a profile picture...</p>
    </div>
    <div ng-click="uploadPic()" ng-model="user" style="background-image: url({{user.image}});" class="avatarImg">
    </div>
    <a ng-click="submitAvatar()" class="button button-light button-large button-clear" style="float:right;">Next</a>
  </ion-content>
</ion-view>