<ion-view title="GetSocialPage" hide-nav-bar="true" id="page15">
  <ion-content padding="true" style="background: url(img/main_background.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">

    <a ui-sref="getDescriptionPage" class="eoko-button-clear ion-chevron-left"></a>

    <a ui-sref="tabsController.profile" class="button button-light  button-clear icon" style="font-style: italic; float:right;">Skip...</a>

    <div class="spacer" style="height: 25px;"></div>

    <h3 id="getSocialPage-markdown6" class="show-list-numbers-and-dots eoko-text-login-header">
      <p>Great!</p>

      <p>Let's connect to the social media you love</p>
    </h3>

    <center>
      <input id="getSocialPage-button15" type="image" src="img/facebook_icon.png" alt="Facebook" width="" height="50" align="center">

      <div class="spacer" style="height: 25px;"></div>
      <input id="getSocialPage-button16" type="image" src="img/linkedin_icon.png" alt="Facebook" width="" height="50" align="center">

      <div class="spacer" style="height: 25px;"></div>
      <input id="getSocialPage-button17" type="image" src="img/instagram_icon.png" alt="Facebook" width="" height="50" align="center">

      <div class="spacer" style="height: 25px;"></div>
      <input id="getSocialPage-button18" type="image" src="img/twitter_icon.png" alt="Facebook" width="" height="50" align="center">
    </center>

    <a ui-sref="tabsController.profile" class="eoko-button-clear" style="font-size: 25px; font-style: italic; float:right;">Done</a>

  </ion-content>
</ion-view>
