<ion-view title="Login" hide-nav-bar="true" id="page10">
  <ion-content padding="true" style="background: url(img/main_background.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">

    <a ui-sref="home" class="eoko-button-clear ion-chevron-left"></a>

    <div class="spacer" style="height: 25px;"></div>

    <h3 class="eoko-text">
      Please Sign In!
    </h3>

    <form id="login-form3" class="list">
      <ion-list>
        <label class="item-input login-label item-floating-label eoko-text-large">
          <span class="input-label lable-font-login eoko-text-large">Email</span>
          <input style="font-size: 25px" type="text" placeholder="Email" ng-model="user.email">
        </label>

        <label class="item-input lable-font login-label item-floating-label">
          <span class="input-label lable-font-login eoko-text-large">Password</span>
          <input style="font-size: 25px" type="password" placeholder="Password" ng-model="user.password">
        </label>
      </ion-list>

      <div class="spacer" style="height: 40px;"></div>

      <ion-input ng-click="loginUser ()" class="eoko-button-block">Log in</ion-input>

      <a ui-sref="getNamePage" id="login-button6" style="color:#FFFFFF;" class="button button-block button-clear">Or create an account</a>
    </form>

  </ion-content>
</ion-view>
