<ion-view title="Notification Page" hide-nav-bar="true" hide-back-button="true" id="page16">

  <ion-content padding="false" style="background: url(img/main_background.png) no-repeat center;background-size:cover;"
               class="manual-ios-statusbar-padding" scroll="false">

    <div class="button-bar">
      <!--back button-->
      <a ui-sref="tabsController.profile" class="eoko-button-clear ion-chevron-left" native-transitions nav-direction="back">

      </a>
      <!--Notifications-->
      <a id="NotificationButton" class="eoko-button-text-selected eoko-text-button-nav"
         ng-click="selectNotificationTab()">Notification
      </a>
      <!--Your Actions-->
      <a id="YourActionButton" class="eoko-button-text eoko-text-button-nav "
         ng-click="selectYourActionTab()">Your Actions
      </a>
    </div>


    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>


    <!--Notification content-->
    <ion-scroll ng-if="selection.tab == 'notifications' " style="height: calc(100%)"
                delegate-handle="mainScroll">
      <ion-list id="notifyList">

        <div ng-if="notifications.length == 0" class="eoko-text-button-nav" style="text-align:center;">No new
          notifications
        </div>

        <ion-item ng-repeat="notify in notifications" class="item-thumbnail-left"
                  style="background-color:rgba(0,0,0,0);border: 1px solid rgba(255,255,255,0.3);" direction="x"
                  ng-style="draggedStyle[$index]" on-drag-left="onDrag($event, $index)"
                  on-release="onRelease($event, $index, notify)" on-swipe-left="onSwipeLeft(notify, $index)">

          <div class="eoko-notification-avatar" style="background-image: url({{notify.info.avatar}});"></div>

          <h2 class="eoko-text-thin" ng-if="!notify.friendrequest" style="color: white;font-size: 25px">{{notify.info.title}}</h2>
           <h2 class="eoko-text-thin" ng-if="notify.friendrequest" style="color: white;font-size: 25px">Friend Request</h2>
          <p class="eoko-text-ultralight" ng-if="!notify.friendrequest" style="color: white;display: inline; font-size: 15px;">
            {{notify.info.location}}
            <br>{{notify.info.date}}
            <br>{{notify.info.time}}
          </p>

          <p class="eoko-text-ultralight" ng-if="notify.friendrequest" style="color: white;display: inline; font-size: 15px;">
            <span style="font-weight:bolder;">{{notify.info.name}}</span> sent you a friend <br> request!
          </p>

          <button ng-click="openPopover($event, notify)" ng-if="!notify.friendrequest" class="eoko-button-action-event-join eoko-text-thin">
            {{notify.attend}}
          </button>

          <button ng-click="denyRequest(notify,$index)" ng-if="notify.friendrequest" class="eoko-button-action-event-join eoko-text-thin" style="margin-left:5px;">
            Decline
          </button>
           <button ng-click="acceptRequest(notify.info, notify, $index)" ng-if="notify.friendrequest" class="eoko-button-action-event-join eoko-text-thin">
            Accept
          </button>


        </ion-item>
      </ion-list>
    </ion-scroll>


    <!--Your Actions content-->
    <ion-scroll ng-if="selection.tab == 'yourevents' " style="height: calc(100%)">
      <ion-list id="notifyList">
        <ion-item ng-repeat="actions in youractions" class="item-thumbnail-left"
                  style="background-color:rgba(0,0,0,0);border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(255,255,255,0.3);">

          <div class="eoko-notification-avatar" style="background-image: url({{actions.info.avatar}});"></div>
          <h2 class="eoko-text-thin" style="color: white;font-size: 25px">{{actions.info.title}}</h2>
          <p class="eoko-text-ultralight" style="color: white;display: inline; font-size: 15px;">
            {{actions.info.location}}
            <br>{{actions.info.date}}
            <br>{{actions.info.time}}
          </p>
          <button ng-click="openPopover($event, actions)" class="eoko-button-action-event-join eoko-text-thin">
            <!--{{actions.attend}}-->
            Look
          </button>

        </ion-item>
      </ion-list>
    </ion-scroll>

  </ion-content>
</ion-view>
