<ion-view title="Notification Page" hide-nav-bar="true" hide-back-button="true" id="page16">

  <ion-content padding="false"
               style="background: url(img/main_background.png) no-repeat center;background-size:cover;filter: blur({{blurry.behind}});"
               class="manual-ios-statusbar-padding eoko-content" scroll="false">

    <div class="button-bar">
      <!--back button-->
      <a ui-sref="tabsController.profile" class="eoko-button-clear ion-chevron-left" native-transitions nav-direction="back">

      </a>
      <!--Notifications-->
      <a id="NotificationButton" class="eoko-button-text-selected eoko-text-button-nav"
         ng-click="selectNotificationTab()">Notification
      </a>
      <!--Your Actions-->
      <a id="YourActionButton" class="eoko-button-text eoko-text-button-nav "
         ng-click="selectYourActionTab()">Your Actions
      </a>
    </div>


    <!--spacer-->
    <div class="spacer" style="height: 20px;"></div>


    <!--Notification content-->
    <ion-scroll ng-if="selection.tab == 'notifications' " style="height: calc(100%)"
                delegate-handle="mainScroll">
      <ion-list id="notifyList">

        <div ng-if="notifications.length == 0" class="eoko-text-button-nav" style="text-align:center;">No new
          notifications
        </div>

        <ion-item ng-repeat="notify in notifications" class="item-thumbnail-left"
                  style="background-color:rgba(0,0,0,0);border: 1px solid rgba(255,255,255,0.3);" direction="x"
                  ng-style="draggedStyle[$index]" on-drag-left="onDrag($event, $index)"
                  on-release="onRelease($event, $index, notify)" on-swipe-left="onSwipeLeft(notify, $index)">

          <div class="eoko-notification-avatar" style="background-image: url({{notify.info.avatar}});"></div>

          <h2 class="eoko-text-thin" ng-if="!notify.friendrequest" style="color: white;font-size: 25px">{{notify.info.title}}</h2>
           <h2 class="eoko-text-thin" ng-if="notify.friendrequest" style="color: white;font-size: 25px">Friend Request</h2>
          <p class="eoko-text-ultralight" ng-if="!notify.friendrequest" style="color: white;display: inline; font-size: 15px;">
            {{notify.info.location}}
            <br>{{notify.info.date}}
            <br>{{notify.info.time}}
          </p>

          <p class="eoko-text-ultralight" ng-if="notify.friendrequest" style="color: white;display: inline; font-size: 15px;">
            <span style="font-weight:bolder;">{{notify.info.name}}</span> sent you a friend <br> request!
          </p>

          <button ng-click="openPopover($event, notify)" ng-if="!notify.friendrequest" class="eoko-button-action-event-join eoko-text-thin">
            {{notify.attend}}
          </button>

          <button ng-click="denyRequest(notify,$index)" ng-if="notify.friendrequest" class="eoko-button-action-event-join eoko-text-thin" style="margin-left:5px;">
            Decline
          </button>
           <button ng-click="acceptRequest(notify.info, notify, $index)" ng-if="notify.friendrequest" class="eoko-button-action-event-join eoko-text-thin">
            Accept
          </button>


        </ion-item>
      </ion-list>
    </ion-scroll>


    <!--Your Actions content-->
    <ion-scroll ng-if="selection.tab == 'yourevents' " style="height: calc(100%)">
      <ion-list id="notifyList">
        <ion-item ng-repeat="actions in youractions" class="item-thumbnail-left"
                  style="background-color:rgba(0,0,0,0);border-top:1px solid rgba(255,255,255,0.3);border-bottom:1px solid rgba(255,255,255,0.3);">

          <div class="eoko-notification-avatar" style="background-image: url({{actions.info.avatar}});"></div>
          <h2 class="eoko-text-thin" style="color: white;font-size: 25px">{{actions.info.title}}</h2>
          <p class="eoko-text-ultralight" style="color: white;display: inline; font-size: 15px;">
            {{actions.info.location}}
            <br>{{actions.info.date}}
            <br>{{actions.info.time}}
          </p>
          <button ng-click="openPopover($event, actions)" class="eoko-button-action-event-join eoko-text-thin">
            <!--{{actions.attend}}-->
            Look
          </button>

        </ion-item>
      </ion-list>
    </ion-scroll>


    <!--action detail pop up-->
    <script id="eventFullView.html" type="text/ng-template">

      <div ng-click="checkHit($event)" class="popup-container popup-showing active" ng-class="cssClass">

        <div id="actionPopUp" class="eoko-action-popup">
          <div class="item-body" style="text-align: center">

            <!--action avatar-->
            <div class="eoko-action-avatar"
                 style="background-image: url({{modalOpen.info.avatar}}); margin-bottom: 0">
            </div>

            <!--action title-->
            <h2 class="eoko-text-action-popup-title eoko-text-medium" style="margin-bottom: 0%">
              {{modalOpen.info.title}}
            </h2>


            <div id="actionDetail" class="eoko-show">
              <!--action hosted by-->
              <div>
                <h4 class="eoko-text-action-popup-title2 eoko-text-thin" style="margin-bottom: 0">Hosted by</h4>
                <a ng-click="openProfile(modalOpen.info)" class="eoko-button-clear eoko-text-action-popup-title eoko-text-regular"
                   style="margin-bottom: 0">{{modalOpen.info.name}}</a>
              </div>

              <!--action location-->
              <div>
                <a class="eoko-icon-location"></a>
                <h4 class="eoko-text-action-popup-title eoko-text-thin" style="margin-bottom: 0">
                  {{modalOpen.info.location}}
                </h4>

              </div>

              <!--action date/time-->
              <div>
                <a class="eoko-icon-date-time"></a>
                <a class="eoko-text-action-popup-title2 eoko-text-thin" style="margin-bottom: 0; font-size: 18px">
                  {{modalOpen.info.date}}
                </a>
                <a class="eoko-text-action-popup-title2 eoko-text-thin" style="margin-bottom: 15px;">
                  @ {{modalOpen.info.time}}
                </a>
              </div>

              <!--action descriptions-->
              <ion-scroll class="eoko-text-thin" style="min-height: 0; max-height: 100px; font-size: 20px;"
                          scrollbar-x="false" scrollbar-y="false">
                {{modalOpen.info.description}}
              </ion-scroll>
            </div>


            <!--type of lists button-->
            <div>
              <a ng-click="showAttendants('goingButton')" id="goingButton"
                 class="eoko-button-action-event-list eoko-text-thin" style="font-size:4vw;">
                {{goingList.length}} <br/> Going
              </a>
              <a ng-click="showAttendants('maybeButton')" id="maybeButton"
                 class="eoko-button-action-event-list eoko-text-thin" style="font-size:4vw;">
                0 <br/> Maybe
              </a>
              <a ng-click="showAttendants('declinedButton')" id="declinedButton"
                 class="eoko-button-action-event-list eoko-text-thin" style="padding-right: 0; padding-left: 0;font-size:4vw;">
                0 <br/> Declined
              </a>
              <a ng-click="showAttendants('invitedButton')" id="invitedButton"
                 class="eoko-button-action-event-list eoko-text-thin" style="font-size:4vw;">
                {{modalOpen.rolenumber}} <br/> Invited
              </a>

            </div>

            <!--show people who are going/maybe/declined/invited-->
            <div id="attendants" class="eoko-hide">
              <ion-scroll ng-model="goingList" class="eoko-display-action-attendents">
                <div ng-if="goingList.length == 0" class="eoko-text-medium" style="font-size: 20px;">Nobody confirmed
                  Yet!
                </div>

                <ion-list>
                  <ion-item class="row">
                    <figure ng-repeat="going in goingList" class="eoko-action-attendants-avatar">
                      <ion-item ng-click="openProfile(going.info)" on-hold="openMessagePopover($event,going)"
                                style="background-image: url({{going.info.avatar}}});margin:0px;"
                                class="span4 eoko-connect-avatar"></ion-item>

                      <figcaption class="eoko-text-ultralight" style="font-size: 1em;text-align:center;">
                        {{going.info.name}}
                      </figcaption>
                    </figure>

                  </ion-item>
                </ion-list>
              </ion-scroll>
            </div>

          </div>
          <!--Join button-->
          <button ng-click="joinEvent(modalOpen)" class="eoko-button-action-event-popup-join">
            {{modalOpen.attend}}
          </button>
        </div>
      </div>

    </script>

  </ion-content>
</ion-view>
