<ion-view title="Notification Page" hide-nav-bar="true" hide-back-button="true" id="page16">

  <ion-content padding="false" style="background: url(img/main_background.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">

    <a ui-sref="tabsController.profile" class="button button-light  button-clear icon ion-ios-arrow-left"></a>

    <div class="button-bar">
      <button id="NotificationButton" class="button button-light  button-block button-clear eoko-text-button-nav" ng-click="selectNotificationTab()">Notification</button>

      <button id="YourActionButton" class="button button-light  button-block button-clear eoko-text-button-nav" ng-click="selectYourActionTab()">Your Actions</button>
    </div>
   
    <!--spacer-->
    <div class="spacer" style="height: 10px;"></div>
    <ion-scroll ng-if="selection.tab == 'notifications' " style="height: calc(100% - 11em)" delegate-handle="mainScroll">
      <ion-list  id="notifyList">
          <ion-item ng-repeat="notify in notifications" class="item-thumbnail-left" style="background-color:rgba(0,0,0,0);border: 1px solid white;" direction="x" ng-style="draggedStyle[$index]" on-drag-left="onDrag($event, $index)"  on-release="onRelease($event, $index, notify)" on-swipe-left="onSwipeLeft(notify, $index)">
          
            <div class="n_avatarImg" style="background-image: url({{notify.info.avatar}});"></div>
            <h2 style="color:white;">{{notify.info.title}}</h2>
            <p style="color:white;display: inline;">{{notify.info.location}}
              <br>{{notify.info.date}}
              <br>{{notify.info.time}}
            </p>
            <!-- <button ng-click="openPopover($event, notify)" class="eoko-button-eventjoin">{{notify.attend}}</button> -->
          </ion-item>
      </ion-list>
    </ion-scroll>

    <ion-scroll ng-if="selection.tab == 'yourevents' " style="height: calc(100% - 11em)">
      <ion-list id="notifyList">
        <ion-item ng-repeat="actions in youractions" class="item-thumbnail-left" style="background-color:rgba(0,0,0,0);border-top:1px solid white;border-bottom:1px solid white;">
          <div class="n_avatarImg" style="background-image: url({{actions.info.avatar}});"></div>
          <h2 style="color:white;">{{actions.info.title}}</h2>
          <p style="color:white;display: inline;">{{actions.info.location}}
            <br>{{actions.info.date}}
            <br>{{actions.info.time}}
          </p>
          <!-- <button ng-click="openPopover($event, actions)" class="eoko-button-eventjoin">{{actions.attend}}</button> -->

        </ion-item>
      </ion-list>
    </ion-scroll>

  </ion-content>
</ion-view>