<ion-view title="Profile" hide-nav-bar="true" hide-back-button="true" id="page2">

  <ion-content padding="true" style="background: url(img/main_background.png) no-repeat center;background-size:cover;"
               class="manual-ios-statusbar-padding eoko-content" scroll="false">

    <div>
      <!--notification buttons-->
      <a ui-sref="notificationPage" class="eoko-button-clear eoko-bell-left" native-transitions nav-direction="forward">
        <div ng-if="friendR > 0" class="eoko-notification-number" ng-model="friendR">
          {{friendR}}
        </div>
      </a>

      <!--setting button-->
      <a class="eoko-button-clear eoko-setting-right" native-transitions nav-direction="forward"></a>
    </div>

    <!--spacer-->
    <div class="spacer" style="height: 60px;"></div>

    <!--profile information-->
    <ion-scroll style="height: calc(100% - 9em)">
      <!--profile pic-->
      <div ng-click="uploadPicture()" style="background-image: url({{user.avatar}});"
           class="eoko-profile-avatar"></div>

      <!--user's name and description-->
      <h3 class="eoko-text-ultralight" id="profile-heading3" style="font-size: 40px; text-align:center;">
        {{user.name}}</h3>
      <h4 class="eoko-text-ultralight" style="font-size: 20px; text-align:center;">Points</h4>
      <h4 class="eoko-text-ultralight" id="profile-heading4" style="font-size: 20px; text-align:center;">
        {{user.description}}</h4>
    </ion-scroll>


    <div class="spacer" style="width: 300px; height: 27px;"></div>
  </ion-content>

</ion-view>
