<ion-view id="page1" >

  <ion-tabs class="eoko-tabs-blur tabs-striped" id="tabsController-tabs1">

    <ion-tab icon-on="profile-icon-on underline" icon-off="profile-icon-off" ui-sref="tabsController.profile({'avatarClicked': 'false'})" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="action-icon-on underline" icon-off="action-icon-off" href="#/page1/EventPage" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="people-icon-on underline" icon-off="people-icon-off" href="#/page1/connectPage" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="event-icon-on underline" icon-off="event-icon-off" href="#/page1/buildingEventPage" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>

    <ion-tab icon-on="info-icon-on underline" icon-off="info-icon-off" href="#/page1/infoPage" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>

  </ion-tabs>

</ion-view>
