// -------------------------------
//
// Text
//
// -------------------------------


.eoko-text-ultralight{
  @include font-type($font-family-base-ultralight-weight, $eoko-text-default-color);
}

.eoko-text-thin{
  @include font-type($font-family-base-thin-weight, $eoko-text-default-color);
}

.eoko-text-regular{
  @include font-type($font-family-base-regular-weight, $eoko-text-default-color);
}

.eoko-text-medium{
  @include font-type($font-family-base-medium-weight, $eoko-text-default-color);
}

.eoko-text-semibold{
  @include font-type($font-family-base-semibold-weight, $eoko-text-default-color);
}

.eoko-text-bold{
  @include font-type($font-family-base-bold-weight, $eoko-text-default-color);
}



// Login/Sign up
// --------------------------------

.eoko-text-input-form{
  @extend .eoko-text-regular;
  padding-bottom: 20px;
}


.eoko-text-login-header{
  @extend .eoko-text-medium;
  padding: 10px;
  margin-bottom: 25px;
  margin: 10px;
}


// Button nav
// ------------------------------

.eoko-text-button-nav{
  @extend .eoko-text-thin;
  font-size: 2.11em;
  @include responsive-font(6vw, 20px, 30px, 25px);
}


// Action Popup
// ------------------------------

.eoko-text-action-popup-title{
  text-align: center;
  display: inline-block;
  @include responsive-font(8vw, 20px, 30px, 25px);

}

.eoko-text-action-popup-title2{
  @extend .eoko-text-action-popup-title;
  font-size: 1.6em;
}
