// Colors
// -------------------------------

$white:                           #FFFFFF !default;
$orange:                          #F57C00 !default;
$red:                             #FF5722 !default;
$green:                           #76FF03 !default;
$transparent:                     rgba(255,255,255,0.65) !default;

// Base
// -------------------------------

$font-family-base:                'San';


// Button
// -------------------------------
$eoko-button-default-bg:               $orange;
$eoko-button-default-border:           $orange;
$eoko-button-default-active-bg:        $orange;
$eoko-button-default-active-border:    $orange;
$eoko-button-default-text:             $white;


// Button
// -------------------------------
$eoko-text-default-color:              $white;
