// -------------------------------
//
// Scroll
//
// -------------------------------


.eoko-horizontal-scroll {
  overflow: scroll;
  white-space: nowrap;
}

.eoko-horizontal-scroll-item{
  display: inline;
  width: 40%;
  padding: 8px;
  border-radius: 25px;
}

.eoko-horizontal-scroll-button{
  border-color: $orange;
  background: transparent;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  width: 100px;
  padding: 8px;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 20px;
  color: $orange;
}

.eoko-horizontal-scroll-button-selected{
  border-color: $orange;
  background: $orange;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  margin-left: 1px;
  margin-right: 1px;
  width: 100px;
  padding: 8px;
  font-size: 20px;
  color: white;
}
