// -------------------------------
//
// Variables
//
// -------------------------------


// Colors
// -------------------------------

$white:                           #FFFFFF !default;
$orange:                          #F57C00 !default;
$red:                             #FF5722 !default;
$green:                           #76FF03 !default;
$transparent:                     rgba(255,255,255,0.65) !default;


// Font
// -------------------------------

$font-family-base:                                'San Francisco Display';
$font-family-base-ultralight-weight:              100;
$font-family-base-thin-weight:                    200;
$font-family-base-regular-weight:                 400;
$font-family-base-medium-weight:                  500;
$font-family-base-semibold-weight:                600;
$font-family-base-bold-weight:                    700;


// Button
// -------------------------------
$eoko-button-default-bg:               $orange;
$eoko-button-default-border:           $orange;
$eoko-button-default-active-bg:        $orange;
$eoko-button-default-active-border:    $orange;
$eoko-button-default-text:             $white;


// Text
// -------------------------------
$eoko-text-default-color:              $white;
