// -------------------------------
//
// Pop Up
//
// -------------------------------

.eoko-action-popup{
  width: calc(100% - 4.5em);
  height: calc(100% - 8.8em);

  margin-bottom: 20px;

  background-color: rgba(245, 124, 0, 0.4);

  @include display-flex();
  @include flex-direction(column);
}


.eoko-display-action-attendents{
  min-height: 400px;
}

.eoko-hide {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.eoko-show{
  max-height: 300px;
  //overflow: hidden;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}



// Alert Pop Up
// ------------------------

.eoko-alert-pop-up{

  .popup-container{
    filter: blur(5px);
  }

  .popup{
    background-color: $orange;
    opacity: 0.3;
  }

  .popup-head{
    display: none;
  }

  .popup-title{
    display: none;
  }

  .popup-sub-title{
    @extend .eoko-text-thin;
  }

  .popup-body{

  }

  .popup-buttons.row{

  }

  .popup-buttons .button{

  }
}
