// -------------------------------
//
// Text
//
// -------------------------------

.eoko-text{
  padding: 10px;
  margin-bottom: 25px;
  margin: 10px;
  color: $eoko-text-default-color;
}

.eoko-text-large{
  color: $eoko-text-default-color;
  font-size: 15px;
}

