$energized: #F57C00;
$ionicons-font-path: "../lib/ionic/fonts" !default;

@import
  //Library
  "../www/lib/ionic/scss/ionic",

  //Variable
  "eoko-mixins",
  "eoko-variables",

  //Button
  "eoko-button",

  //Text
  "eoko-text",

  //Forms
  "eoko-forms",

  //Tabs
  "eoko-tabs",

  //Icons
  "eoko-icons",

  //Font
  "sanfrancisco-font";


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    display: block;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: white;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
}



//for ion-content to overlay tab
.eoko-content{
  min-height:100% !important;
  top:0 !important;
  bottom:0 !important;
}
