$energized: #F57C00;
$ionicons-font-path: "../lib/ionic/fonts" !default;

@import
  //Library
  "../www/lib/ionic/scss/ionic",

  //Variable
  "eoko-mixins",
  "eoko-variables",

  //Button
  "eoko-button";


.connectImg {
	width: 75px;
	height: 75px;
	border-radius: 50px;
	background-size: cover;
	background-position-x: 61%;
	float: left;
	margin: 10px;
	background-color: grey;
}


.lable-font-login {
	font-family: "San Francisco";
	font-weight: 200;
	color: white;
}

.login-label{
	border: transparent;
	border-bottom: 1px solid white;
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] {
    display: block;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: white;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
}

.button.button-positive {
    border-color: transparent;
    background-color: rgba(247, 124, 0, 0.4);
    color: #fff;
}.button.button-positive.active, .button.button-positive.activated {
      border-color: #a2a2a2;
	  background-color: rgba(247, 124, 0, 0.8); }


.avatarImg{
    border-radius: 50px;
    background-size: cover;
    background-position-x: 61%;
    background-color:grey;
    width: 12.5em;
    height: 13em;
    border-radius: 13em;
    margin: 2em auto;
}

.descriptionBox{
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: 320px;
    margin: 4em auto;
    background-color: rgba(255, 255, 255, 0.61);
    height: 10em;
    resize: none;
}


.notificationNumber {
    border-radius: 50px;
    background-color: red;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    position: relative;
    bottom: 36px;
    left: 13px;
    color: white;
}

.n_avatarImg{
        height: 80px;
    width: 80px;
    background-size: contain;
    position: absolute;
    left: 10px;
    border-radius: 80px;
}

.privatePublic{
    border-radius:14px;
}