// San Francisco Font Path
// --------------------------



/** Ultra Light */
@font-face {
  font-family: "San Francisco Display";
  font-weight: 100;
  src: url('../fonts/sanfranciscodisplay-ultralight.woff');
}

/** Thin */
@font-face {
  font-family: "San Francisco Display";
  font-weight: 200;
  src: url("../fonts/sanfranciscodisplay-thin.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco Display";
  font-weight: 400;
  src: url("../fonts/sanfranciscodisplay-regular.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco Display";
  font-weight: 500;
  src: url("../fonts/sanfranciscodisplay-medium.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco Display";
  font-weight: 600;
  src: url("../fonts/sanfranciscodisplay-semibold.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco Display";
  font-weight: 700;
  src: url("../fonts/sanfranciscodisplay-bold.woff");
}
