# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

hooks
node_modules
plugins
.bowerrc
.editorconfig
bower.json
config.xml
gulpfile.js
ionic.config.json
package.json
